body {
    font-family: 'Bahnschrift', 'Times New Roman', serif;
    color: white;
    margin-left: 25px;
}


html{
    background-image: url('resources/snifsnouf/background.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 

}

.container {
    overflow: hidden;
}


h1 {
    text-align: center;
    margin-top: 20px;
}

a{
    margin-left: 5px;
}

button {
    font-family: 'Bahnschrift', sans-serif;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.3); /* Fond noir avec moins d'opacité */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    border-radius: 12px; /* Contours arrondis */
    transition: background-color 0.3s, transform 0.3s; /* Animation */
}
button:hover {
    background-color: rgba(64, 139, 224, 0.7); /* Bleu turquoise avec opacité */
    transform: scale(1.05); /* Effet d'agrandissement au survol */
}

div{
    margin-right: 13px;

}


